/* responsive for mobile device */
@media screen and (max-width: 576px) {
    /* header section responsive */
    /* navigation bar responsive */
 .nav-item:nth-child(1) .nav-link,
 .nav-item:nth-child(2) .nav-link,
 .nav-item:nth-child(3) .nav-link
 {
    display: none;
  
}
.nav-links {
 margin-right: 15px;
}
/* banner section responsive */

.banner-container {
  flex-direction: column-reverse;


 
}
.banner-image img {
  width: 100%;
}
.banner-title {
  font-size: 1.75rem;
  margin-top: 20px;
  
 
}
.description {
  
  font-size: 0.875rem;
  
}
.banner-content{
    padding:0 20px ;

}
    
}
