/* responsive for mobile device */
@media screen and (max-width: 576px) {
    /* header section responsive */
    /* navigation bar responsive */
 .nav-item:nth-child(1) .nav-link,
 .nav-item:nth-child(2) .nav-link,
 .nav-item:nth-child(3) .nav-link
 {
    display: none;
  
}
.nav-links {
 margin-right: 15px;
}
/* banner section responsive */

.banner-container {
  flex-direction: column-reverse;


 
}
.banner-image img {
  width: 100%;
}
.banner-title {
  font-size: 1.75rem;
  margin-top: 20px;
 
  
 
}
.description {
  
  font-size: 0.875rem;
  
}
.banner-content{
    padding:  20px;

}
/* plants section responsive */
.plants-card-container {
 
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
 
}
.section-title {
  font-size: 1.5rem;
 
}
.plants {
 
  margin: 50px 20px ;
}
 .plants-card {
   max-width: 170px; 
 
} 
img{
    width: 100%;
}
.btn-primary {

  max-width: 170px;
  padding: 15px 30px;
 
}
.plant-sub-title {
 
  font-size: 1rem;
 
}
.price {
 
  font-size: 1rem;
  
}
/* plants lover section responsive */
.plants-lover {
  
  margin: 20px;
}
.plants-lover-container {
  flex-direction: column;
 
}
#trusted-badge {
 display: none;
}
.plants-list-title {
  font-size: 1.5rem;

}
/* latest deals section responsive */
.deals {
  
  margin: 50px 20px;
}
.deals-image {
 
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  
 
}
.deals-image .box:nth-child(1),
 .deals-image .box:nth-child(2),
  .deals-image .box:nth-child(3) {
  grid-column: auto  ;
  grid-row: auto  ;
  
  
}
.box .img-text #bloom-discount {
 
  font-size: 1.25rem;
  
}
.box .img-text #shop-now {
 
  font-size: 1rem;
 
    
}

}